.movies-card-list {
  max-width: 1280px;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 30px;
}
