.mobile-menu {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.2s linear;
}

.mobile-menu_active {
  transition: visibility 0s, opacity 0.3s linear;
  visibility: visible;
  opacity: 1;
  z-index: 1;
}

.mobile-menu__container {
  background: #202020;
  position: fixed;
  top: 0;
  right: 0;
  left: 30%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu__navtab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 159px;
}

.mobile-menu__link {
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  margin-top: 28px;
}

.mobile-menu__link:first-of-type {
  margin-top: 0;
}

.mobile-menu__link:hover {
  opacity: 0.7;
}

.mobile-menu__link_active {
  border-bottom: 2px solid #ffffff;
}

.mobile-menu__mobile-button {
  background-image: url(../../images/mobile_header_icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 44px;
  width: 44px;
  border: none;
  box-sizing: border-box;
  padding: 0;
  background-color: #ffffff;
  cursor: pointer;
  outline: none;
  margin-top: 15px;
  display: none;
}

.mobile-menu__profile-button {
  background: none;
  width: 100px;
  height: 30px;
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../../images/profile.svg);
  padding: 0;
  margin-bottom: 92px;
}

.mobile-menu__close-button {
  background: none;
  width: 22px;
  height: 22px;
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../../images/mobile_menu_close_btn.svg);
  padding: 0;
  position: absolute;
  right: 22px;
  top: 22px;
}
@media screen and (max-width: 320px) {
.mobile-menu__container {
  left: 0;
}}