.menu__link_bold {
  font-weight: 500;
}
.more {
  max-width: 1280px;
  padding-right: 70px;
  padding-left: 70px;
  margin-left: auto;
  margin-right: auto;
}

.more__button {
  padding: 0;
  height: 36px;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 80px;
  border-radius: 6px;
  border: none;
  background: #2f2f2f;
  color: #ffffff;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0px;
  text-align: center;
  cursor: pointer;
}
.more__button_disable {
  display: none;
}
.more__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .more {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media screen and (max-width: 320px) {
  .more {
    padding-right: 10px;
    padding-left: 10px;
  }
}