.profile {
    max-width: 1280px;
    margin: 0;
}

.profile__title {
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 74px;
    margin-bottom: 0;
}

.profile__conteiner {
    margin-top: 123px;
    width: 410px;
    margin-left: auto;
    margin-right: auto;
}

.profile__content {
    display: flex;
    justify-content: space-between;
}

.profile__content:first-child {
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 16px;
}

.profile__subtitle {
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 13px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 16px;
    margin-bottom: 0;
}

.profile__name, .profile__email {
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0px;
    text-align: right;
    margin-top: 16px;
    margin-bottom: 0;
}

.profile__button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 220px;
    padding-bottom: 70px;
}

.profile__edit-button {
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
    border: none;
    cursor: pointer;
    color: #000000;
    background: none;
    padding: 0;
}

.profile__edit-button_disabled {
    display: none;
}

.profile__exit-button {
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
    border: none;
    cursor: pointer;
    color: #EE3465;
    background: none;
    padding: 0;
    margin-top: 10px;
}

.profile__exit-button_disabled {
    display: none;
}

.profile__edit-button:hover, .profile__exit-button:hover {
    opacity: 0.8;
}

.profile__save-button {
    font-family: 'Inter', 'Arial', sans-serif;
    background: #3456F3;
    border-radius: 3px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 410px;
    height: 45px;
    display: none;
}

.profile__save-button_active {
    display: block;
}

.profile__save-button:hover {
    opacity: 0.8;
}

.profile__save-button_disabled {
    background: #F8F8F8;
    color: #C2C2C2;
}

.profile__error-massage {
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0px;
    text-align: center;
    color: #FF004C;
    margin-bottom: 20px;
    display: none;
}

.profile__error-massage_active {
    display: block;
}