.header-menu {
    display: flex; 
    flex-direction: row;
    align-items: center;
    margin-top: 18px;
  }

  @media screen and (max-width: 768px) {
    .header-menu {
      display: none;
    }
  }

  
  .header-menu__signin-button {
    background: #2be080;
    height: 32px;
    width: 76px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    margin-left: 30px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
  }
  
  .header-menu__signin-button:hover {
    opacity: 0.5;
  }
  
  .header-menu__link {
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    color: #000000;
    text-decoration: none;
    margin-left: 20px;
  }
  
  .header-menu__link:hover {
    opacity: 0.7;
  }
  
  .header-menu__mobile-button {
    background-image: url(../../images/mobile_header_icon.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 44px;
    width: 44px;
    border: none;
    box-sizing: border-box;
    padding: 0;
    background-color: #ffffff;
    cursor: pointer;
    outline: none;
    margin-top: 15px;
    display: none;
  }

  
  @media screen and (max-width: 768px) {
    .header-menu__mobile-button {
      display: block;
    }
  }


  