.searching {
    max-width: 1280px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 70px;
}

.search-form {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 15px;
}

.search-form__input {
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0px;
    text-align: center;
    color: #A0A0A0;
    width: 100%;
    border: none;
    box-sizing: border-box;
    outline: none;
}

.search-form__button {
    background: #FF6838;
    border-radius: 48px;
    border: none;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: center;
    color: #FFFFFF;
    height: 34px;
    width: 58px;
    cursor: pointer;
}

.search-form__button:hover {
    opacity: 0.8;
}