.about-project {
  background: #202020;
}

.about-project__container {
  max-width: 1280px;
  margin: 0 auto;
}

.table {
  display: grid;
  margin: 70px 70px 0 70px;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

.table__heading {
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.04em;
  text-align: left;
  margin: 0;
  color: #ffffff;
}

.table__text {
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 26px;
  margin-bottom: 0;
  color: #ffffff;
}

.about-project-bar {
  display: grid;
  margin: 110px 70px 141px 70px;
  grid-template-columns: minmax(140px, 1fr) 4fr;
}

.about-project-bar__item {
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  height: 36px;
}

.about-project-bar__item_green {
  background: #3ddc84;
  color: #000000;
}

.about-project-bar__item_grey {
  background: #303030;
  color: #ffffff;
}

.about-project-bar__item_light-grey {
  color: #8b8b8b;
}

@media screen and (max-width: 768px) {
  .table {
    margin: 70px 50px 0 50px;
  }
}

@media screen and (max-width: 480px) {
  .table {
    margin: 60px 18px 0 18px;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 320px) {
  .table__heading {
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (max-width: 768px) {
  .table__text {
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 320px) {
  .table__text {
    font-size: 11px;
    line-height: 16px;
  }
}

@media screen and (max-width: 768px) {
  .about-project-bar {
    margin: 93px 50px 0 50px;
  }
}

@media screen and (max-width: 480px) {
  .about-project-bar {
    margin: 60px 18px 0 18px;
    grid-template-columns: minmax(100px, 1fr) 4fr;
  }
}

@media screen and (max-width: 480px) {
  .about-project-bar__item {
    font-size: 11px;
    line-height: 35px;
    height: 35px;
  }
}
