.footer {
    max-width: 1280px;
    background: #FAFAFA;
}

.footer__title {
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
    margin: 0 70px 0 70px;
    padding-top: 80px;
    padding-bottom: 20px;
    color: #A0A0A0;
    border-bottom: 1px solid #E8E8E8;
}

.footer__info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 70px 0 70px;
}

.footer__copyright {
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
    margin: 0;
}

.footer__links {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0 0 20px 0;
    margin: 0;
}

.footer__link {
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: #000000;
    margin: 0;
}

.footer__link:hover {
    opacity: 0.5;
}

.footer__links-list {
    padding: 0;
    margin-right: 20px;
    list-style: none;
}

.footer__links-list:last-child {
    margin-right: 0;
}