.navtab {
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
}

.navtab__button {
  margin-left: 10px;
  background: #e8e8e8;
  border-radius: 10px;
  height: 36px;
  width: 96px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  border: none;
  cursor: pointer;
}

.navtab__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .navtab {
    margin-top: 314px;
  }
}

@media screen and (max-width: 600px) {
  .navtab {
    margin-top: 212px;
    width: 275px;
  }
}

@media screen and (max-width: 600px) {
  .navtab__button {
    height: 26px;
    width: 82px;
    margin-left: 6px;
    font-size: 10px;
  }
}
